*::after,
*::before,
*{  /* "*"se utiliza como selector universal */
    margin: 0;  /* extension del margen*/
    padding: 0; /*Anchura del margen*/
    box-sizing: border-box; /*hace que el padding y el borde de la caja pasen a formar parte del ancho de la caja*/
}

body{
    margin: 0 auto; /*Centra el contenido*/
    max-width: 1200px; /*establece el ancho del body a 1200px*/
    font-family: 'lato'; /*define una familia de fuentes(tipografia)*/
    color: #333;
}

.icono-carrito{ /*se usa un punto al inicio por que es una clase*/
    width: 40px;  /*Se establece la anchura*/
    height: 40px; /*Se establece la altura*/
    stroke: #000;
}

.icono-carrito:hover{
    cursor: pointer ; /*Cambia el cursor cuando se pasa encima de la imagen del carrito*/

}

img{ /*Afecta todas las imagenes de la pagina*/
    max-width: 100%; /*Hace que las imagenes no se desborden o salgan de la pantalla horizontalmente*/
}

header{ /*afecta todo el contenido de la etiqueta header*/
    display: flex; /*activa un sistema que nos ayuda acomodar textos,imagenes,etc.. como si fueran cajas*/
    justify-content: space-between; /*genera un espacio entre el texto tienda y la imagen del carrito*/
    padding: 30px 0 40px 0 ; /*genera un espacio de 30 pixeles por arriba y 40 px por abajo*/
}

.contenedor-imagen{ 
    position: relative; /**/
}

.count-products{
    position: absolute; /*centra horizontal y verticalmente la cantidad de productos que va a comprar*/
    top: 55%; /*Cantidad de espacio que va a ocupar el número*/
    right: 0; 
    background-color: #000;  /*Color de fondo negro*/
    color: #fff; /*Color numeros blanco*/
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center; /*Centra los números verticalmente*/
    align-items: center; /*Centra el númer horizontalmente*/
    border-radius: 50%; /*Le da borde redondeado al contador */
}

#contador-productos{
    font-size: 12px;
}

.contenedor-carrito-productos{
    position: absolute;
    top: 50px;
    background-color: #fff;
    width: 300px;
    right: 0;
    z-index: 1; /*Le da un orden al contenido del contenedor*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20); /*Le da sombras cuando sale la informacion sobre del carrito*/
    border-radius: 10px; /*Esquinas redondas a la informacion del carrito*/
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20); /*Crea una raya de division en el cuadro de informacion del carrito*/
}

.info-carrito-producto{
    display: flex;
    justify-content: space-between; /*Genera espacio entre la informacion del carrito*/
    flex: 0.8; /*Indica cual es la cantidad de espacio que va haber entre la informacion*/
}

.titulo-producto-carrito{ /*Va afectar los nombres de los productos cuando se abra la informacion del carrito*/
    font-size: 20px; /*Afecta el tamaño de los caracteres*/
}   

.precio-producto-carrito{ /*Va afectar los precios de los productos cuando se abra la informacion del carrito*/
    font-weight: 700; /*Afecta el grosor de los trazos de los caracteres*/
    font-size: 20px;
    margin-left: 10px; /*Establece un margen por el lado izquierdo*/
}

.cantidad-producto-carrito{ /*Va afectar la cantidad de los productos cuando se abra la informacion del carrito*/
    font-weight: 400; /*Afecta el grosor de los trazos de los caracteres*/
    font-size: 20px;
}

.icono-cerrar{
    width: 25px;
    height: 25px;
}

.icono-cerrar:hover{ 
    stroke: red; /*Cuando el cursor este encima de la x, la x se va a volver roja*/
    cursor: pointer; /*El cursor va a cambiar cuando este encima de la x*/
}

.costo-total{
    display: flex;
    justify-content: center; /*Centra el contenido del contenedor horizontalmente*/
    align-items: center; /*Centra el contenido del contenedor verticalmente*/
    padding: 20px 0; /*Aumenta el espacio entre el texto total y el precio total*/
    gap: 20px; /*Separa los productos con espacios de 20 pixeles*/
}

.costo-total h3{ /*Afecta el h3 del contenedor costo-total*/
    font-size: 20px; /*Cambia el tamaño de las letras*/
    font-weight: 700; /*Cambia el grosor de las letras*/
}

.total-pagar{
    font-size: 20px; /*Cambia el tamaño de las letras*/
    font-weight: 900; /*Cambia el grosor de las letras*/
}

.hidden-cart{
    display: none;
}

.contenedor-productos-tienda{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /*nos va a mostrar todos los productos organizados en columna*/
    gap: 20px; /*Separa los productos con espacios de 20 pixeles*/
}

.item{
    border-radius: 10px; /*crea esquinas redondeadas en todos los productos*/
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20); /*Le da sombras a los productos cuando se pasa el mouse por encima*/
}

.item img{  /*Va a afectar las imagenes de los items*/
    width: 100%; /*Le da altura del 100%, agarra todo el tamaño que deje el contenedor */
    height: 300px; /*EStablece la altura de las imagenes*/
    object-fit: cover; /*Adapta la imagen para que no pierda resolución*/
    border-radius: 10px 10px 0 0; /*Bordes de 10px en las esquinas superior izquiera y derecha- no bordes en las esquinas inferiores izquierda y derecha*/
    transition: all .5s; /*Hace que el zoom o agrandado de la imagen se haga en un lapso de 5segundos*/
}

.item figure{ /*afecta el contenedor figura*/
    overflow: hidden; /*Hace que cuando la imagen se agrande, no se desborde del contenedor*/
}

.item:hover img{ /*Cada vez que pase el cursor por encima de las imagenes*/
    transform: scale(1.2); /*Se va agrandar la imagen cada vez que el cursor pase encima de la imagen*/
}

.info-producto{
    padding: 15px 30px; /*Genera un espacio de 15px por arriba y abajo- 30px por derecha y izquierda */
    line-height: 2; /*da un interlineado de 2 espacios entre el nombre del producto y su precio*/
    display: flex;
    flex-direction: column; /*hace que el nombre, precio y boton se organizen en columna*/
    gap: 10px; /*da un espacio de 10px entre los cuadros*/
}

.precio{
    font-size: 18px; /*Cambia el tamaño de las letras*/
    font-weight: 900; /*Cambia el grosor de las letras*/
}

.info-product button{ /*Va afectar a los botones de añadir al carrito*/
    border: none; /*Quita el borde negro de los botones*/
    background: none; /*quita el fondo*/
    background-color: #000; /*Cambia el color de fondo a negro*/
    color: #fff; /*Color de letras a blanco*/
    padding: 15px 10px; /*Cambia la anchura del boton*/
    cursor: pointer; /*El cursor cambia cuando este encima del boton*/
}